<!DOCTYPE html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.jpeg">
        <link rel="stylesheet "href="/css/style.css"> </link>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
         <img class="portrait"src="/img/me.jpeg">
        </div>
        {{>footer}}
    </body>