<!DOCTYPE html>
    <head>
      <title>help</title>
      <link rel="icon" href="/img/weather.jpg">
      <link rel="Stylesheet" href="/css/style.css"></link> 
      <script src="/jsdir/app-2.js"></script> 
    </head>
    <body>
      <div class="main-content">
      {{>header}}
         <center><img src="/img/help.png">  </center>
      </div>
         {{>footer}}
         
    </body>